/* ==========================================================================
   Global classes
   ========================================================================== */

body {
	background: $text-color1;
	color: $bg-color5;
	font-family: $type-font-family1;
	font-size: $type-font-size;
	font-weight: $type-weight;
	line-height: $type-baseline;
	margin: 0;
	padding:0;
	vertical-align: baseline;
	webkit-tap-highlight-color: rgba(0,0,0,0);
}

/**
 * Text selection
 */
 
::selection { 
	background: $type-selection-background;
	color: $type-selection-color;
}

/**
 * Fluid images
 */

img,object,embed,video {
	max-width:100%;
}

code {
	font-family: Droid Sans, Monaco, Courier, monospace;
}

.invisible {
	@include invisible;
}

.hidden {
	@include screenreaders-only;
	zoom: 1;
}