// Text Colours
$text-color1: #444444;
$text-color2: #555555;
$text-color3: #666666;
$text-color4: #cccccc;
$text-color5: #ffffff;
$text-color6: #f47920;
$text-color7: #1f3342;

// Background Colours
$bg-color1: #203443;
$bg-color2: #f47920;
$bg-color3: #edeeef;
$bg-color4: #f5f5f5;
$bg-color5: #ffffff;
$bg-color6: #1f3342;

// Border Colours
$border-color1: #b2b2b2;
$border-color2: #d1d0d0;

// Accent Colours
$accent-color1: #D4E771;
$accent-color2: #FDEF7A;
$accent-color3: #F58533;
$accent-color4: #FF961C;

// Named Colours
$success-color: $accent-color1;
$warning-color: $accent-color2;
$error-color: $accent-color3;