// Text Colours
$text-color1: #444444;

// Background Colours
$bg-color1: #ffffff;

// Border Colours
$border-color1: #dddddd;

// Accent Colours
$accent-color1: #D4E771;
$accent-color2: #FDEF7A;
$accent-color3: #F58533;
$accent-color4: #FF961C;

// Named Colours
$success-color: $accent-color1;
$warning-color: $accent-color2;
$error-color: $accent-color3;