// Checkboxes
//
// .control-group--error - Error styles
// .control-group--horizontal - Horizontal layout variation
// .control-group--toggle - Checkbox used for toggling state
//
// Styleguide 3.5

/* 
  css stylesheet comment

  Checkbox syles
  inherits from textfield styles
*/

.control-group-checkbox {

  .control-group__control {
    margin-top:baseline(0.25);
    margin-bottom:baseline(0.25);
    
    input {
      float: left;
      margin-right: spacing(0.5);
    }
  }

  &.control-group--horizontal,
  .form-horizontal & {
    $width: 100px;
    @include clear-floats;
    margin-bottom:baseline(1);

    .control-group__label {
      float: left;
      padding-top: 5px;
      width: $width;
    }

    .control-group__controls {
      margin-left: $width + spacing(1);
    }
  }

  &.control-group--error {

    .control-group__controls label {
		color: $error-color;
    }
  }

  &.control-group--toggle {
    .control-group__control {
      @include disable-selection;
      cursor:pointer;
      padding-left:0;
      position:relative;

      .control-group-checkbox__label {
        border-radius:3px;
        border:1px solid $border-color2;
        display:block;
        padding:10px;
        padding-left:35px;
      }

      input {
        left:15px;
        margin-left:0;
        position:absolute;
        top:16px;

        &:checked + .control-group-checkbox__label {
          background: lighten($accent-color2, 15);
          border-color: darken($accent-color2, 17);
		      color: darken($accent-color2, 32);
          text-shadow:0 0 8px rgba(#fff,0.5);

          [class*="title-"] {
            color:$text-color4;
          }
        } 
      }
    }
  }
}

.radio.inline, 
.checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;

  & + &.inline {
  	margin-left: 10px;
  }
}

.control-group.control-group-terms-conditions {
  font-size: text-size(1);
  line-height: baseline(1);
  margin-top: 30px;
}