// Select Field

.control-group-select {
	@extend .control-group-text;

	.control-group__control {
		@include appearance(none);
		box-shadow:none;
		color:$text-color1;
		padding: 0;

		div {
			padding: 5px 0 5px 5px;
		}

		&[multiple], 
		&[size] {
			background:none;
			height: auto;
			padding:spacing(0.5);
		}
	}

	&.control-group--tiny {
		.control-group__control {
			width: 80px
		}
	}

	&.control-group--disabled {
		.control-group__control {
			background-image:none;
		}
	}
}