// Textarea

.control-group-textarea {
	@extend .control-group-text;

	.control-group__control {
		height: 100px;
		padding: spacing(0.5);
	}

	&.control-group--tall {
		.control-group__control {
			height: 120px;
		}
	}

	&.control-group--huge {
		.control-group__control {
			height: 300px;
		}
	}
}